/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.raleway-font {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

/* shared styles */

.btn {
    padding: 10px;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    line-height: 30px;
    width: 197px;
    text-align: center;
}

.btn-primary{
    background: orange;
    margin-left: 20px;
}

.btn-secondary{
    background: black;
}

ul>li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.primary-text{
    color: orange;
}

.sky-blue-text{
    color: skyblue;
}

.aqua-text{
    color: rgba(5, 212, 223, 1);
}

.blue-text{
    color: rgba(93, 88, 239, 1);
}

.title{
    font-size: 46px;
    line-height: 58px;
    color: #000;
    text-align: center;
}

/* navbar styles */

.content-wrapper{
    max-width: 1160px;
    margin: 0 auto;
}

.container{
    background-color: #F7F7F7;
    overflow-x: hidden;
}
.header{
    max-width: 1160px;
    margin: 0 auto;
    padding: 20px 0;
}

.navbar, .mobile-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.logo-text {
    font-size: 2rem;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul li{
    margin-left: 32px;
}

.menu ul li:first-child{
    margin-left: 0;
}

.menu .link{
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

/* hero section styles */

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content{
    margin-right: 50px;
}
.hero-title{
    font-size: 56px;
    font-weight: 700;
    line-height: 61px;
    color: black;
}

.description{
    font-size: 20px;
    color: black;
    margin: 20px 0;
}


/* card section styles */

.Standard-Curriculum{
    padding: 60px 0;
    background-image: url("assets/images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.box-container{
    display: flex;
    gap: 28px;
    margin: 80px 0;
}

.box {
    border-radius: 18px;
    text-align: center;
    padding: 40px;
}

.box-title{
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: rgba(32, 32, 32, 1);
}

.box-description{
    font-size: 15px;
    line-height: 28px;
    color: rgba(128, 128, 128, 1);
    margin: 32px 0;
    font-family: Raleway;
}

.box a{
    font-size: 15px;
    line-height: 28px;
}

.box-1{
    background-image: linear-gradient(#DEF5FF, #fff 40%);
    border: 1px solid #DEF5FF;
}
.box-2{
    background-image: linear-gradient(#FFF4DC, #fff 40%);
    border: 1px solid #FFF4DC;
}
.box-3{
    background-image: linear-gradient(#EEE1FF, #fff 40%);
    border: 1px solid #EEE1FF;
}

.btn-1{
    color: #64C8FF;
}

.btn-2{
    color: #F0AA00;
}

.btn-3{
    color: #8700FF;
}

.arrow-container{
    text-align: center;
}

.arrow {
    border: 1px solid orange;
    border-radius: 50%;
    padding: 17px 25px;
    background: orange;
    color: #fff;
    font-size: 24px;
}


/* Our story styles */

.our-stories{
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(254, 163, 1, 0.2)), url("assets/images/bg.png");
    background-repeat: repeat;
    background-size: auto;
    background-position: top right;
    padding: 60px 0;
    margin-left: calc( 50% - 50vw );
    margin-right: calc( 50% - 50vw );
}

.blog-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 18px;
    padding: 60px 0;
    max-width: 1160px;
    margin: 0 auto;
}

.blog{
    border-radius: 16px;
    background-color: #fff;
}

.blog img {
    border-radius: 16px 16px 0 0;
}

.large-item{
    grid-row: 1/3;
}

.view-all{
    text-align: center;
}

.blog-content{
    padding: 0 28px;
    padding-bottom: 36px;
}

.blog-content h3{
    font-size: 15px;
    line-height: 28px;
    font-weight: 700;
}

.large-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
    color: #000000;
    margin-bottom: 40px;
}

.large-item p {
    font-size: 15px;
    line-height: 28px;
    color: rgba(102, 102, 102, 1);
}

.blog-btn {
    border-radius: 48px;
    padding: 14px 20px;
    font-family: 'Raleway';
    font-size: 15px;
    border: none;
    position: relative;
    transform: translate(0%, -70%);
    color: #fff;
}

.bg-aqua{
    background-color: #3CD8E8;
}

.bg-olive{
    background-color: #95B226;
}

.bg-blue{
    background-color: blue;
}


/* footer styles */

.footer{
    background-color: #01ACFD;
    padding: 120px 0;
    color: #fff;
}

.footer-logo{
    display: flex;
}

.footer-column p{
    font-size: 20px;
    margin-top: 35px;
}

.flogo-text{
    font-size: 42px;
    font-weight: 700;
    line-height: 39px;
}

.footer-content {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-column{
    width: 25%;
}

.footer-title{
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 700;
}

.footer-menu li{
    margin-bottom: 20px;
}

.footer-menu a{
    font-size: 20px;
    color: #fff;
}


/* marque styles */

        .marquee {
            width: 100%; 
            overflow: hidden; 
            white-space: nowrap;
        }

        .marquee-content {
            display: inline-block;
            padding-left: 100%; 
            animation: scroll-left 40s linear infinite;
        }

        /* Animation keyframes */
        @keyframes scroll-left {
            0% {
                transform: translateX(100%); 
            }
            100% {
                transform: translateX(-100%);
            }
        }

/* desktop device responsive */

@media screen and (min-width: 577px) {
    .mobile-nav{
        display: none;
    }
}


/* mobile device responsive */

@media screen and (max-width: 576px) {
    .navbar{
        display: none;
    }
    .header{
        padding: 12px 16px;
        border-bottom: 0.5px solid orange;
    }
    .hero{
        flex-direction: column-reverse;
        margin: 0 16px;
        margin-bottom: 20px;
    }
    .hero img{
        margin: 0 10px;
        width: 100%;
    }
    .hero-title{
        font-size: 32px;
        line-height: 40px;
        margin-top: 20px;
    }
    
    .description{
        font-size: 14px;
    }

    .btn {
        padding: 6px 20px;
        border-radius: 8px;
        font-size: 16px;
        width: 131px;
    }

    .hero-content{
        text-align: center;
        margin-right: 0;
    }

    .Standard-Curriculum{
        padding: 0 0;
        margin: 0 16px;
        background-position: inherit;
        background-size: inherit;
    }
    
    .box-container {
        column-gap: 20px;
        margin: 28px 0;
        flex-direction: column;
    }

    .title{
        font-size: 26px;
        line-height: 40px;
    }

    .box {
        padding: 36px 28px;
    }

    .box-title{
        font-size: 16px;
        line-height: 20px;
    }

    .arrow-container{
        display: none;
    }

    .box-description{
        font-size: 10px;
        line-height: 19px;
        margin: 22px 35px;
    }

    .blog-container {
        grid-template-columns: auto auto;
        gap: 18px;
        padding: 40px 0;
        margin: 0 16px;
    }

    .blog img {
        width: 100%;
    }

    .large-item{
        display: none;
    }

    .footer-content {
        flex-direction: column;
        justify-content: center;
    }

    .footer-column{
        width: 100%;
        margin-top: 32px;
    }
    .footer{
        padding: 40px 16px;
    }

}